*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

#logo{
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 1rem;
    border: 1px solid white;
    padding: 0.4rem;
}

.navlist{
    display: flex;
    gap: 5rem;
}

.menu{
   visibility: hidden;
}

.navlist li{
    list-style-type: none;
}

.navlist li a{
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.navlist li a:hover{
    border-bottom: 1px solid white;
}

.main-content
{
    display: flex;
    gap: 2rem;
    padding: 4rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-self: center;
    width: 90%;
}

.title{
    font-size: 2.8rem;
    font-family: 'Lora', serif;
    font-weight: 500;
}

.msg{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 74%;
}

.btn{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}

.img-section{
    position: relative;
}

.credit{
    width: 50%;
    background-color: black;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 0.1rem 6rem 1rem 1.5rem;
    position: absolute;
    left: 43%;
    top: 84%; 
}

.designer{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  padding: 1rem 1rem 1.5rem 0;
}

.names{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 0.6rem;
}

.designer-pic{
    width: 25%;
   border-radius: 50%;
   overflow: hidden;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

.role{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}

.credit--details{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.interior-pic{
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.footer{
    text-align: center;
    color: white;
    font-family: 'Space Mono', monospace;
    padding: 1rem;
    margin-top: 3rem;
}

.footer a{
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 1300px){

 .msg{
    font-size: 1.2rem
 }

 .credit--details{
    font-size: 1.2rem;
 }
   
}

@media screen and (max-width: 1154px){

.msg{
    font-size: 1rem
 }

 .credit--details{
    font-size: 1rem;
 }

 .title{
    font-size: 2rem;
 }
 .role{
    font-size: 0.6rem;
 }

 .name{
    font-size: 0.7rem;
 }
}


@media screen and (max-width: 1005px){

.msg{
    font-size: 0.8rem
 }

 .credit--details{
    font-size: 0.9rem;
 }

 .title{
    font-size: 1.8rem;
 }
 .role{
    font-size: 0.5rem;
 }

 .name{
    font-size: 0.6rem;
 }
}


@media screen and (max-width: 894px){

.msg{
    font-size: 0.6rem
 }

 .credit--details{
    font-size: 0.7rem;
 }

 .title{
    font-size: 1.6rem;
 }
 .role{
    font-size: 0.32rem;
 }

 .name{
    font-size: 0.4rem;
 }

 .navlist li a{
    font-size: 0.7rem;
 }

 #logo{
    font-size:0.7rem;
 }

 .btn{
    font-size:0.8rem;
 }

 .details{
    width: 100%;
 }
}

@media screen and (max-width: 786px){

    .main-content{
        flex-direction: column;
    }

    .msg{
    font-size: 0.8rem
 }

 .credit--details{
    font-size: 0.9rem;
 }

 .title{
    font-size: 1.8rem;
 }
 .role{
    font-size: 0.5rem;
 }

 .name{
    font-size: 0.6rem;
 }

 .navlist{
    display: none;
 }

 #logo{
    font-size:0.7rem;
    padding: 0.1;
 }

 .menu{
    visibility: visible;
     color: white;
     font-size: 2rem;
 }

 .navbar{
    padding: 1rem;
}
.main-content{
padding: 1rem;
}

.footer{
    font-size: 0.8rem;
    margin-top: 12rem;
 }

}


@media screen and (max-width: 627px){
.role{
    font-size: 0.4rem;
 }

 .name{
    font-size: 0.5rem;
 }

 .credit--details{
    font-size: 0.7rem;
 }
     .designer{
        padding: 0.5rem 0.5rem 1rem 0;
     }

     .credit{
        width: 55%;
     }
    }

    @media screen and (max-width: 530px){
        .role{
            font-size: 0.3rem;
         }
        
         .name{
            font-size: 0.4rem;
         }
        
         .credit--details{
            font-size: 0.4rem;
         }

         .navbar{
            padding: 1rem;
        }

           .main-content{
               padding: 1rem;
           }

        }

@media screen and (max-width: 501px){

    .role{
        font-size: 0.4rem;
     }
    
     .name{
        font-size: 0.4rem;
     }
    
     .credit--details{
        font-size: 0.5rem;
     }

     .designer{
        padding: 0.5rem 0.5rem 1rem 0;
     }

     .credit {
        width: 90%;
        padding: 0.5rem;
        left: 5%; 
        top: auto;
    }
    .footer{
        font-size: 0.8rem;
        margin-top: 12rem;
     }

    }

    @media screen and (max-width: 400px){

        .role{
            font-size: 0.3rem;
         }
        
         .name{
            font-size: 0.3rem;
         }
        
         .credit--details{
            font-size: 0.4rem;
         }
            .navlist li a{
                font-size: 0.6rem;
            }

            .btn{
                font-size: 0.6rem;
            }

            .title{
                font-size: 1.4rem;
            }

            .msg{
                font-size: 0.6rem;
            }

            .credit{
                width: 100%;
                padding: 0.5rem;
                left: 0;
                top: auto;
            }

            .designer{
                padding: 0.5rem 0.5rem 1rem 0;
             }
 
        }